@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #fcfcfc;
  --sidebar-bg: #f8f9fa;
  --border-color: #f1f3f5;
  --accent: #6db56f;
}

/* Base dark class for global CSS variables */
.dark {
  --background: #0a0a0a !important;
  --foreground: #ededed !important;
  --card-bg: #111111 !important;
  --sidebar-bg: #0d0d0d !important;
  --border-color: #1a1a1a !important;
  --accent: #6db56f !important;
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}